body {
  margin: 0;
}
h1 {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 96px;
  margin-bottom: 0;
  text-align: center;
}

h5 {
  font-family: "Inter", sans-serif;
  color: rgb(221, 221, 221);
  margin-top: 16px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  margin-top: 24px;
  color: white;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("bilder/backgroundhero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
